footer {
	text-align: center;
	padding: 3px;
}

h1 {
	text-align: center;
	padding: 3px;
}

p {
	text-align: center;
	padding: 3px;
}

li {	
	list-style-type: square;
	margin-left: 20px; 
	list-style-position: inside;
	list-style-image: url('../Images/Amogus.png');
}

body {
	background-color: #141415;
	color: White;
}

@media (max-width: 600px) {
	body {
		background-color: LightCoral;

	}
}

.Proyecto {
	background-color: AliceBlue;
	padding: 25px;
	margin: 0px auto;
	width: 80%;
	text-align: center;
	color: Black;
}

.Proyecto h1 {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.Proyecto ul {
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.Introduccion {
	padding: 25px;
}

.Introduccion.p {
	margin: 0px 15px 0px 15px;
	font-size: 25px;
}

.Introduccion.h1 {
	font-size: 30px;
}
