footer {
	text-align: center;
	padding: 3px;
}

h1 {
	text-align: center;
	padding: 3px;
}

p {
	text-align: center;
	padding: 3px;
}

li {	
	list-style-type: square;
	margin-left: 20px; 
	list-style-position: inside;
	list-style-image: url('../Images/Amogus.png');
}

body {
	background-color: #141415;
	color: White;
}

@media (max-width: 600px) {
	body {
		background-color: LightCoral;

	}
}

.Introduccion {
	padding: 15px;
	border-radius: 12px;
}

#IntroduccionPar {
	paddin: 2px;
	margin: 0px 15px 20px 15px;
	font-size: 18px;

}

#IntroduccionTitulo {
	margin-top: 20px;
	font-size: 30px;

}

.Proyecto {
	background-color: AliceBlue;
	padding: 15px;
	width: 89%;
	margin: auto;
	text-align: center;
	color: Black;
}

#ProyectoHead {
	padding: 10px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;

}

#ProyectoList {
	padding: 10px;
	text-decoration-line: underline;
	text-decoration-style: wavy;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	
}

#ProyectoListDesc {
	margin: auto;
}

.Contacto {
	padding 20px;
}

.Footer {
	background-color: AliceBlue;
	color: Black;
	padding: 15px;
	margin: auto;
	width: 89%;
	border-radius: 12px;
}
