footer {
	text-align: center;
	padding: 3px;
}

h1 {
	text-align: center;
	padding: 3px;
}

h2 {
	text-align: center;
	padding: 3px;
}

p {
	text-align: center;
	padding: 3px;
}

ul {
	text-align: center;

}

li {	
	margin: auto;
	list-style-position: inside;
	text-align: center;
	transform: translate(-2%, -2%);
	font-size: 22px;
	list-style-image: url('../Images/Amogus.png');
}

body {
	background-color: #141415;
	background-image: url('../Images/188687-1856960131.jpg');
	color: White;
	font-family: "Zen Maru Gothic", sans-serif; 
}

@media (max-width: 600px) {
	body {
		background-color: LightCoral;

	}

	.container {
		padding: 5px;
		width: 90%;
	}
}

.DivWhite {
	background-color: AliceBlue;
	padding: 15px;
	width: 89%;
	margin: auto;
	color: #141415;
	border-radius: 12px;
	opacity: 0.9;
}

.Icons {
	margin: auto;
	display: block;
}

.Form {
	margin: auto;
	text-align: center;
	padding: 10px;
	background-color: #333335;
	width: 89%;
	border-radius: 12px;
	color: White;
	opacity: 0.9;

}

.Form input{
	margin: auto;
	width: 50%;
	height: 30%;
	padding: 12px;
	box-sizing: border-box;
	border-radius: 12px;
}

.Form label {
	font-size: 18;
}

#Message {
	height: 40;
}

.container {
	padding: 20px;
	display: flex;
	/*background-color: #141415;*/
}

.container div{
	background-color: #333335;
	width: 44%;
	margin: auto;
	padding: 5px;
	border-radius: 12px;
	opacity: 0.9;
}

.Introduccion {
	padding: 15px;
	border-radius: 12px;
}

.IntroduccionPar {
	padding: 2px;
	margin: auto;
	margin-top: 40px;
	font-size: 22px;
	width: 79%;
	text-align: center;
}

#TituloHeader {
	background-color: #333335;
	font-size: 30px;
	width: 89%;
	height: 20%;
	padding: 25px;
	margin: auto;
	text-align: center;
	border-radius: 12px;
	opacity: 0.9;
}

#ProyectoListDesc {
	margin: auto;
	font-size: 16px;
/*	text-align: center;*/
	padding: 5px;
}

.Contacto {
	margin-bottom: 35px;
}
