footer {
	text-align: center;
	padding: 3px;
}

h1 {
	text-align: center;
	padding: 3px;
}

h2 {
	text-align: center;
	padding: 3px;
}

p {
	text-align: center;
	padding: 3px;
}

ul {
	text-align: center;

}

li {	
	list-style-type: square;
	margin: auto;
	list-style-position: inside;
	list-style-image: url('../Images/Amogus.png');
}

body {
	background-color: #141415;
	color: White;
}

@media (max-width: 600px) {
	body {
		background-color: LightCoral;

	}
}

.DivWhite {
	background-color: AliceBlue;
	padding: 15px;
	width: 89%;
	margin: auto;
	color: #141415;
	border-radius: 12px;
}

.Table {
	width: 89%;
	margin: auto;
	padding: 35px;
	text-align: center;
}

.ColFirst {
	background-color: #333335;
}

#Titulo1Head {
	border-radius-top-left: 12px;
	border-radius-top-right: 12px;

}

#ContFirst {
	border-radius-bottom-left: 12px;
	border-radius-bottom-right: 12px;
}

.ColSec {
	background-color: #333335;
	border-radius: 12px;
}

.ColThird {
	background-color: #141415;
	padding: 30px;
}


.Introduccion {
	padding: 15px;
	border-radius: 12px;
}

.IntroduccionPar {
	padding: 2px;
	margin: auto;
	margin-top: 40px;
	font-size: 18px;
	width: 79%;
	text-align: center;
}

#TituloHeader {
	background-color: #333335;
	font-size: 30px;
	width: 100%;
	height: 10%;
	position: fixed;
	margin: auto;
	text-align: center;
}

#ProyectoListDesc {
	margin: auto;
}

.Contacto {
	margin-bottom: 35px;
}
